<a href="https://colab.research.google.com/github/idiosyncratic4/Syndicate/blob/main/mergedfiles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import os
import glob
import pandas as pd
os.chdir("/content/mydir")

In [4]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [5]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

In [7]:
combined_csv.head()

             Industry      Symbol
0  FINANCIAL SERVICES  BANKBARODA
1  FINANCIAL SERVICES   BANKINDIA
2  FINANCIAL SERVICES    MAHABANK
3  FINANCIAL SERVICES       CANBK
4  FINANCIAL SERVICES   CENTRALBK